/*Tushar's Section starts */
body{
	font-family: Arial;
}
.navbar {
	background-color: #007fd6 !important;
}
.nav > li > a{
	color: #FFF !important;
}
.navbar-trans li>a:hover {
	background-color:#719CC7;
	color:#fff;
}
.navbar-trans li>a{
	transition: background-color 0.3s ease;
}
.navbar-trans li>a:focus,.navbar-trans li.active {
    background-color: rgba(47, 32, 38, 0.45);
    color: #fff;
}
/*.navbar-trans li>a:focus,.navbar-trans li.active {
    background-color: #f13f3f;
    color: #fff;
    }*/
    .headerDiv{
    	font-size: 25px;
    	font-weight: bold;
    }
    section {
    	/*padding-top:70px;  */
    	padding-bottom:0px;
    	min-height:100%;
    	min-height:calc(100% - 0);
    	-webkit-transform-style: preserve-3d;
    	-moz-transform-style: preserve-3d;
    	transform-style: preserve-3d;
    }
	#section1{
		padding-top:70px;
	}
    #demo{
    	padding: 0px;
    	margin: 0px;
    	list-style: none;
    }
    .news-item {
    	padding: 4px 4px;
    	margin: 0px;
    	border-bottom: 1px dotted #555;
    }
    #newsPanel .panel-heading{
    	background-color: #7ccaff !important;
    }
    .text-center {
    	text-align: center;
    }
    .callout.rule {
    	border-bottom: 1px solid #dee0df;
    	color: #f4645f;
    	text-align: center;
    	font-size: 13px;
    	margin: 60px 0;
    }
    .hrText {
    	top: 15px;
    	padding: 0 20px;
    	position: relative;
    	background: #fff;
    	font-size: 30px;
    	font-weight: bold;
    }
    ::-webkit-scrollbar {
    	width: 8px;
    	height: 8px;
    }
    ::-webkit-scrollbar-track {background: #FFFFFF;-webkit-box-shadow: inset 1px 1px 2px #E0E0E0;border: 1px solid #D8D8D8;}
    ::-webkit-scrollbar-thumb {background: #DD0000;-webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);}
    ::-webkit-scrollbar-thumb:hover {-webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.3);}
    ::-webkit-scrollbar-thumb:active {background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}
    /*Tushar's Section Ends*/

    /*Arjun's section starts */
    .evaluation-header{
        border: 5px solid #007fd6;
        border-radius: 12px;
        height:150px;
        width:100%;
    }
    .project-details{
        border: 2px solid ;
        border-radius: 12px;
        height:100%;
        background-color: white;
        margin-top: -60px;
        margin-left: 5%;
    }
    .project-scoresheet{
        border: 2px solid ;
        border-radius: 12px;
        margin-top: -60px;
        background-color: white;
        height:100%;
        margin-left: 5%;
    }
    .details{
        padding-top: 20px;

    }
    .parameters{
        padding-top: 20px;
    }
    .documents{
        padding-top: 20px;
    }
    .videos{
        padding-top: 20px;
    }
    .fa-contents{
        margin: 5px;
    }
    .widget-area {
background-color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
float: left;
margin-top: 30px;
/*padding: 25px 30px;*/
padding-bottom: 9px;
position: relative;
width: 100%;
}
.status-upload {
background: none repeat scroll 0 0 #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
float: left;
width: 100%;
}
.status-upload form {
float: left;
width: 100%;
}
.status-upload form textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: Lato;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
float: left;
}
.status-upload ul > li > a {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload form button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}
.widget-area.blank {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}

    /*Arjun's section ends */

    /*Daya's section starts */
    #accordion-first .accordion-group {
    margin-bottom: 10px;
}

#accordion-first .accordion-heading, #accordion-first .accordion-toggle:hover, #accordion-first .accordion-heading .accordion-toggle.active {
    background: none repeat scroll 0% 0% transparent;
}
#accordion-first .accordion-heading {
    border-bottom: 0px none;
    font-size: 16px;
}

#accordion-first .accordion-heading .accordion-toggle {
    display: block;
    cursor: pointer;
    padding: 5px 0px !important;
    color: #222;
    outline: medium none !important;
    text-decoration: none;
}

#accordion-first .accordion-heading .accordion-toggle.active em{background-color: #0f8c9f;}

#accordion-first .accordion-heading .accordion-toggle > em {
    background-color: #222;
    border-radius: 100px;
    color: #FFF;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    text-align: center;
    width: 32px;}

 .accordion-inner{
    margin-left: 42px;
 }

    /*Daya's section ends */

    /*Ketki's section starts */
    .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}
    
    /*Ketki's section ends */

    /*Sahil's section starts */
    .carousel-control.left, .carousel-control.right{
				background-image:none;
		
		}
	#myCar{
		width:86%;
		margin: 0 auto;
	}
    /*Sahil's section ends */
